<div class="pip-header">
    <div class="">
        <p class="">{{ selectedItem.title }}</p>
    </div>
    <md-menu md-position-mode="target-right target" class="position-right">
        <md-button class="md-icon-button" aria-label="menu"
                   ng-click="$mdOpenMenu()">
            <md-icon md-svg-icon="icons:vdots"></md-icon>
        </md-button>
        <md-menu-content width="3">
            <md-menu-item>
                <md-button>Action 1</md-button>
            </md-menu-item>
            <md-menu-item>
                <md-button>Action 2</md-button>
            </md-menu-item>
        </md-menu-content>
    </md-menu>
</div>
<div class="pip-body ">
    <div class="ng-scope layout-column layout-align-start-start flex">
        <button class="md-button md-ink-ripple"
                ng-class="{'pip-selected':!$sizeSmall && $state.name == 'tool.view.split.details' && selected.showPanel == 'sub1' }"
                type="button" ng-click="onSub1Click(selectedItem)">
            <div class="layout-row layout-align-start-center flex">
                <p class="ng-scope flex">Sub1 List</p>
                <div class="flex"></div>
                <md-icon md-svg-icon="icons:chevron-right" class="ng-scope ng-isolate-scope flex-fixed" aria-hidden="true">
                </md-icon>
            </div>
        </button>
        <button class="md-button md-ink-ripple"
                ng-class="{'pip-selected':!$sizeSmall && $state.name == 'tool.view.split.details' && selected.showPanel == 'sub2' }"
                type="button" ng-click="onSub2Click(selectedItem)">
            <div class="layout-row layout-align-start-center flex">
                <p class="ng-scope flex">Sub2 details</p>
                <div class="flex"></div>
                <md-icon md-svg-icon="icons:chevron-right" class="ng-scope ng-isolate-scope flex-fixed" aria-hidden="true">
                </md-icon>
            </div>
        </button>
    </div>
</div>

<div class="pip-footer">
    <div class="layout-row layout-align-center-center w-stretch">
        <md-button class="">
            <md-icon md-svg-icon="icons:check"></md-icon>
            <div class="">Yes</div>
        </md-button>
        <md-button class="">
            <md-icon md-svg-icon="icons:cross"></md-icon>
            <div class="">No</div>
        </md-button>
    </div>
</div>